<h1><%= @movie.title %></h1>
<hr />

<iframe width="900" height="500" src="<%= @movie.trailer %>">
</iframe>

<br />

<h5><%= @movie.duration %> </h5>
<h4><%= @movie.genre %></h4>
<br />
<%= link_to 'More Info', @movie.description, target: :_blank %>
<br />
<br />

<h2>Comments</h2>

<ul class="list-group list-group-flush">
<% @movie.comments.each do |c| %>
<li class="list-group-item"><%= c.body%> <%= link_to "Edit", edit_movie_comment_path(@movie.id, c)%></li>

<% end %>
</ul>

<br />
<%= link_to 'View Comments', movie_comments_path(@movie) %>
<br />
<%= link_to 'Edit Movie', edit_movie_path(@movie) %>
<br />
<%= link_to 'Delete Movie', @movie, method: :delete %>